// modules and variables
@import "variables";
@import "mixins";
@import "login";
@import "details";
@import "list";
@import "nav";
@import "loader";

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* Background pattern from Subtle Patterns */
/* https://www.toptal.com/designers/subtlepatterns/ */
html {
  font-family: $font;
  box-sizing: border-box;
  height: 100%;
  background: $white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-image: url('../images/circles-and-roundabouts.jpg');
}

body {
  margin: 0;
}

.button-star {
  font-size: .8rem;
}

.heading-1 {
  @include outlineText(darken($red, 18%), $white, $red);
  font-size: 3em;
  padding: 1rem;
  margin: 0;
}

.heading-3 {
  padding-left: 5%;
}

[hidden=true] {
  display: none;
}

[name=wrapper] {
  margin-top: 4rem;
  padding: 1rem;
}

[fullLayout] {
  height: auto;
}

[dialogLayout] {
  height: 100%;
  overflow-y: hidden;
}

[curtain] {
  @include no-focus;
  height: 100%;
  width: 100%;
  z-index: -1;
  margin-top: 0;
}

::selection {
  background: #f2fc70; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f2fc70; /* Gecko Browsers */
}