#details-root {
  background: $white;
  box-shadow: .33rem .33rem 1rem $black;
  border-radius: .42rem .42rem 0 0;
}

#details-root form {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

#details-root .input-group {
  margin-bottom: 2rem;
}

#details-root .heading-1 {
  @include trianglePattern;
  @include noSelect;
  border-radius: .42rem .42rem 0 0;
}

#details-button, #details-cancel-button {
  @include redButton;
  @include noSelect;
}

#details-cancel-button {
  margin-left: 1rem;
}

#details-button:hover, #details-cancel-button:hover {
  @include redButtonHover
}

#details-root input, #details-root select {
  @include formInput;
  @include noSelect;
 }
 
 #details-root label {
   @include formLabel;
   @include noSelect;
 }
 
 #details-root input:focus, #details-root input:hover,
 #details-root select:focus,  #details-root select:focus {
   @include formInputAction;
 }

 #details-root option:hover {
  box-shadow: 0 0 10px 100px #fff inset;
 }




 @media screen and (min-width: 1280px) {
  #details-root label, #details-root input, #details-root select{
    display: inline-block;
  }

  #details-root label {
    text-align: left;
    width: 12rem;
  }

  #details-root input, #details-root select {
    width: 50%;
  }

  #details-root {
    width: 60%;
    margin: 0 auto;
  }
}
