#list-root {
  box-shadow: .33rem .33rem 1rem $black;
  border-radius: .42rem .42rem 0 0;
}

#list-root .report-list {
  overflow-y: scroll;
  height: 40rem;
  border: 1em inset lighten($black, 40%);
}

#list-root .report-list-item {
  border-width: 0 0 1px 1px;
  border: 1px solid #cacaca;
  color: $red;
  background: linear-gradient(to bottom,#fff 0,#fff 65%,#ddd 100%);
  padding: 5px 25px 0px 20px;
  margin: 0;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  cursor: pointer;
}

#list-root .report-list-item:hover {
  border-width: 0 0 1px 1px;
  border: 1px solid $red;
  color: $white;
  background: linear-gradient(to top,lighten($red, 20%) 0,lighten($red, 20%) 65%,#ddd 100%);
}

#list-root .report-list-item[expanded] {
  border: 1px solid $red;
  color: $white;
  background: linear-gradient(to top,lighten($red, 20%) 0,lighten($red, 20%) 65%,#ddd 100%);
  height: 12rem;
}

#list-root .report-list-item[expanded]:hover {
  border: 1px solid #cacaca;
  color: $red;
  background: linear-gradient(to bottom,#fff 0,#fff 65%,#ddd 100%);
  height: 12rem;
}

#list-root .report-list-item > div > p {
  margin: 0;
  padding: .5rem;
  display: inline;
  @include noSelect;
}

#list-root .report-item-details {
  width: 100px;
  height: 100px;
  background: black;
  display:flex;
  flex-direction: column;
  flex: 1;
}

#list-root .report-item-details > p {
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  color: $white;
  background: $black;
}

#list-root .report-item-details > p:nth-child(1):hover {

}

#list-root .report-item-details > p > p {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  font-size: .8em;
  text-align: center;
  padding-top: .33em;
}


#list-root .list-top button {
  order: 1;
  @include redButton;
  margin-right: 1em;
}

#list-root .report-list-item div:nth-child(1) {
  width: 100%;
  height: 20%;
}
#list-root .report-list-item div:nth-child(2) {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

#list-root .report-list-button {
  @include redButton;
  order: 1;
  float: right;
  margin-left: .33rem;
  margin-right: .33rem;
}

#list-root button:hover {
  @include redButtonHover;
}

#list-root h1 {
  display: inline-block;
}

#list-root .list-top {
  display: flex;
  @include trianglePattern;
  justify-content: space-between;
  align-items: center;
  @include noSelect;
  border-radius: .42rem .42rem 0 0;
}

@media screen and (min-width: 1280px) {
  #list-root {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 720px) {
  #list-root h1 {
    display: block;
    font-size: 1.5em;
  }

  #list-root .report-list-button {
    @include noSelect;
  }

  #list-root .report-item-details {
    @include noSelect;
  }

  #list-root .report-list-item div:nth-child(2) {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include noSelect;
  }

  #list-root .report-list-item > div > p {
    margin: 0;
    padding: .1em;
    font-size: .66em;
    display: inline;
    @include noSelect;
  }

  #list-root .report-item-details > p > p {
    margin: 0 auto;
    width: 25%;
    height: 100%;
    font-size: .8em;
  }

  #list-root .report-item-details {
    width: 100%;;
  }
  


}