$size: 1;
$unit: em;
$color: black;
$factor: .15;
$circles: 8;
$upper-size: .4;

$spacer1: $size * 2.6#{$unit};
$spacer2: $size * 1.8#{$unit};
$spacer3: $size * 2.5#{$unit};
$spacer4: $size * 1.75#{$unit};

#loader {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);;
  margin-top: 3rem;
}


@function circle-size($element-index, $loop-index, $upper-size) {
  @return $upper-size - ($circles - ($element-index - $loop-index)) % $circles * $factor;
}

@function circle-opacity($color, $circle-size, $upper-size) {
  $opacity: ($circle-size + 1) / ($upper-size + 1);
  @return rgba($color, $opacity);
}

@function circle-size-and-opacity($element-index, $loop-index, $upper-size) {
  $circle-size: circle-size($element-index, $loop-index, $upper-size);
  @return #{$circle-size}$unit circle-opacity($color, $circle-size, $upper-size),;
}

.loader {
    position: relative;
    width: #{$size}$unit;
    height: #{$size}$unit;
    margin: #{$size*4}$unit auto;
    border-radius: 50%;
    font-size: 2em;
    animation: loader 1s infinite ease;
    transform: translateZ(0);  
}

@keyframes loader {
  @for $i from 0 through ($circles - 1) {
    #{if($i == 0, (0%,100%), $i*(100% / $circles))} { box-shadow:
      0em (-$spacer1) 0em circle-size-and-opacity(0, $i, $upper-size),
      $spacer2 (-$spacer2) 0 circle-size-and-opacity(1, $i, $upper-size),
      $spacer3 0em 0 circle-size-and-opacity(2, $i, $upper-size),
      $spacer4 $spacer4 0 circle-size-and-opacity(3, $i, $upper-size),
      0em $spacer3 0 circle-size-and-opacity(4, $i, $upper-size),
      (-$spacer2) $spacer2 0 circle-size-and-opacity(5, $i, $upper-size),
      (-$spacer1) 0em 0 circle-size-and-opacity(6, $i, $upper-size),
      (-$spacer2) (-$spacer2) 0 circle-size-and-opacity(7, $i, $upper-size);            
    }
  }
}