#login-root {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);;
  margin-top: 3rem;
  background-color: $white;
  opacity: 1;
  border-radius: .42rem .42rem .42rem .42rem;
  box-shadow: .33rem .33rem 1rem $black;
}

#login-root form {
  width: 90%;
  margin: 0 auto;
  @include noSelect;
}
#login-root .heading-1 {
  @include trianglePattern;
  border-radius: .42rem .42rem 0 0;
  border: 3px solid black;
  @include noSelect;
}

#login-root .input-group {
  margin-bottom: 2rem;
}

#login-button {
  @include redButton;
}

#login-button:hover {
  @include redButtonHover;
}

#login-root input {
 @include formInput;
}

#login-root label {
  @include formLabel;
}

#login-root input:focus, #login-root input:hover {
  @include formInputAction;
}