@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
  }
  
@mixin center($width) {
  max-width: $width;
  margin: 0 auto;
}

@mixin fixedCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin no-focus() {
  background: rgba(0, 0, 0, .33)
}

@mixin outlineText($color, $outline, $shadow) {
  color: $color;
  -webkit-text-fill-color: $color;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $outline;
  text-shadow: 2px 2px 5px $shadow;
}

@mixin redButton {
  //background: $red;
  background: linear-gradient(to bottom,$red 0,$red 65%,$white 100%);
  border: 1px solid $red;
  font-size: 1.1rem;
  color: $white;
  font-family: $font;
  text-transform: uppercase;
  text-align: center;
  padding: .42em;
  outline: none;
  @include noSelect;
}

@mixin redButtonHover {
  background: $white;
  color: $red;
  outline: $red;
  box-shadow: 0 0 3px rgba(212,32,41,1)!important;
}

@mixin noSelect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none;
}

@mixin formInput {
  border: 1px solid #cacaca;
  text-indent: 10px;
  color: #656565;
  height: 2rem;
  width: 100%;
}

@mixin formLabel {
  display: block;
  text-align: center;
  font-family: $font;
  font-weight: 900;
}

@mixin formInputAction {
  box-shadow: 0 0 3px rgba(212,32,41,1)!important;
  border: 1px solid rgba(212,42,31,1)!important;
  outline: $red;
}

@mixin trianglePattern {
  background-image: url('../images/dark-triangles.png');
}
