#nav-root:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  background: $black;
  display: flex;
  align-items: center;
  color: $white;
  padding: 1rem;
}

#nav-root ul {
  order: 0;
  flex: 1;
}

#nav-root li {
  font-family: $font-light;
  letter-spacing: .1rem;
  list-style: none;
}

#nav-root .nav-title {
  order: -1;
}

#nav-root button {
  order: 1;
  @include redButton;
}

#nav-root button:hover {
  @include redButtonHover;
}


