/*importing the font from google*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face {
  font-family: rock-bold;
  src: url('../fonts/Rockwell-ExtraBold.otf');
}

@font-face {
  font-family: rock-light;
  src: url('../fonts/rockwen.ttf');
}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



/*define the colors*/
$light-blue: #469ef3;
$dark-blue: #154e9a;
$red: rgb(207, 10, 44);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);



/*define the font*/
$font: rock-bold;
$font-light: rock-light;
$font-size: 5em;