/*importing the font from google*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@font-face {
  font-family: rock-bold;
  src: url("../fonts/Rockwell-ExtraBold.otf"); }

@font-face {
  font-family: rock-light;
  src: url("../fonts/rockwen.ttf"); }

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2") format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

/*define the colors*/
/*define the font*/
#login-root {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  margin-top: 3rem;
  background-color: white;
  opacity: 1;
  border-radius: .42rem .42rem .42rem .42rem;
  box-shadow: 0.33rem 0.33rem 1rem black; }

#login-root form {
  width: 90%;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#login-root .heading-1 {
  background-image: url("../images/dark-triangles.png");
  border-radius: .42rem .42rem 0 0;
  border: 3px solid black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#login-root .input-group {
  margin-bottom: 2rem; }

#login-button {
  background: linear-gradient(to bottom, #cf0a2c 0, #cf0a2c 65%, white 100%);
  border: 1px solid #cf0a2c;
  font-size: 1.1rem;
  color: white;
  font-family: rock-bold;
  text-transform: uppercase;
  text-align: center;
  padding: .42em;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#login-button:hover {
  background: white;
  color: #cf0a2c;
  outline: #cf0a2c;
  box-shadow: 0 0 3px #d42029 !important; }

#login-root input {
  border: 1px solid #cacaca;
  text-indent: 10px;
  color: #656565;
  height: 2rem;
  width: 100%; }

#login-root label {
  display: block;
  text-align: center;
  font-family: rock-bold;
  font-weight: 900; }

#login-root input:focus, #login-root input:hover {
  box-shadow: 0 0 3px #d42029 !important;
  border: 1px solid #d42a1f !important;
  outline: #cf0a2c; }

#details-root {
  background: white;
  box-shadow: 0.33rem 0.33rem 1rem black;
  border-radius: .42rem .42rem 0 0; }

#details-root form {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 3rem; }

#details-root .input-group {
  margin-bottom: 2rem; }

#details-root .heading-1 {
  background-image: url("../images/dark-triangles.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: .42rem .42rem 0 0; }

#details-button, #details-cancel-button {
  background: linear-gradient(to bottom, #cf0a2c 0, #cf0a2c 65%, white 100%);
  border: 1px solid #cf0a2c;
  font-size: 1.1rem;
  color: white;
  font-family: rock-bold;
  text-transform: uppercase;
  text-align: center;
  padding: .42em;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#details-cancel-button {
  margin-left: 1rem; }

#details-button:hover, #details-cancel-button:hover {
  background: white;
  color: #cf0a2c;
  outline: #cf0a2c;
  box-shadow: 0 0 3px #d42029 !important; }

#details-root input, #details-root select {
  border: 1px solid #cacaca;
  text-indent: 10px;
  color: #656565;
  height: 2rem;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#details-root label {
  display: block;
  text-align: center;
  font-family: rock-bold;
  font-weight: 900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#details-root input:focus, #details-root input:hover,
#details-root select:focus, #details-root select:focus {
  box-shadow: 0 0 3px #d42029 !important;
  border: 1px solid #d42a1f !important;
  outline: #cf0a2c; }

#details-root option:hover {
  box-shadow: 0 0 10px 100px #fff inset; }

@media screen and (min-width: 1280px) {
  #details-root label, #details-root input, #details-root select {
    display: inline-block; }
  #details-root label {
    text-align: left;
    width: 12rem; }
  #details-root input, #details-root select {
    width: 50%; }
  #details-root {
    width: 60%;
    margin: 0 auto; } }

#list-root {
  box-shadow: 0.33rem 0.33rem 1rem black;
  border-radius: .42rem .42rem 0 0; }

#list-root .report-list {
  overflow-y: scroll;
  height: 40rem;
  border: 1em inset #666666; }

#list-root .report-list-item {
  border-width: 0 0 1px 1px;
  border: 1px solid #cacaca;
  color: #cf0a2c;
  background: linear-gradient(to bottom, #fff 0, #fff 65%, #ddd 100%);
  padding: 5px 25px 0px 20px;
  margin: 0;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  cursor: pointer; }

#list-root .report-list-item:hover {
  border-width: 0 0 1px 1px;
  border: 1px solid #cf0a2c;
  color: white;
  background: linear-gradient(to top, #f64967 0, #f64967 65%, #ddd 100%); }

#list-root .report-list-item[expanded] {
  border: 1px solid #cf0a2c;
  color: white;
  background: linear-gradient(to top, #f64967 0, #f64967 65%, #ddd 100%);
  height: 12rem; }

#list-root .report-list-item[expanded]:hover {
  border: 1px solid #cacaca;
  color: #cf0a2c;
  background: linear-gradient(to bottom, #fff 0, #fff 65%, #ddd 100%);
  height: 12rem; }

#list-root .report-list-item > div > p {
  margin: 0;
  padding: .5rem;
  display: inline;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#list-root .report-item-details {
  width: 100px;
  height: 100px;
  background: black;
  display: flex;
  flex-direction: column;
  flex: 1; }

#list-root .report-item-details > p {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  color: white;
  background: black; }

#list-root .report-item-details > p > p {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  font-size: .8em;
  text-align: center;
  padding-top: .33em; }

#list-root .list-top button {
  order: 1;
  background: linear-gradient(to bottom, #cf0a2c 0, #cf0a2c 65%, white 100%);
  border: 1px solid #cf0a2c;
  font-size: 1.1rem;
  color: white;
  font-family: rock-bold;
  text-transform: uppercase;
  text-align: center;
  padding: .42em;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 1em; }

#list-root .report-list-item div:nth-child(1) {
  width: 100%;
  height: 20%; }

#list-root .report-list-item div:nth-child(2) {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center; }

#list-root .report-list-button {
  background: linear-gradient(to bottom, #cf0a2c 0, #cf0a2c 65%, white 100%);
  border: 1px solid #cf0a2c;
  font-size: 1.1rem;
  color: white;
  font-family: rock-bold;
  text-transform: uppercase;
  text-align: center;
  padding: .42em;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  order: 1;
  float: right;
  margin-left: .33rem;
  margin-right: .33rem; }

#list-root button:hover {
  background: white;
  color: #cf0a2c;
  outline: #cf0a2c;
  box-shadow: 0 0 3px #d42029 !important; }

#list-root h1 {
  display: inline-block; }

#list-root .list-top {
  display: flex;
  background-image: url("../images/dark-triangles.png");
  justify-content: space-between;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: .42rem .42rem 0 0; }

@media screen and (min-width: 1280px) {
  #list-root {
    width: 60%;
    margin: 0 auto; } }

@media screen and (max-width: 720px) {
  #list-root h1 {
    display: block;
    font-size: 1.5em; }
  #list-root .report-list-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #list-root .report-item-details {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #list-root .report-list-item div:nth-child(2) {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #list-root .report-list-item > div > p {
    margin: 0;
    padding: .1em;
    font-size: .66em;
    display: inline;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #list-root .report-item-details > p > p {
    margin: 0 auto;
    width: 25%;
    height: 100%;
    font-size: .8em; }
  #list-root .report-item-details {
    width: 100%; } }

#nav-root:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem; }

#nav-root ul {
  order: 0;
  flex: 1; }

#nav-root li {
  font-family: rock-light;
  letter-spacing: .1rem;
  list-style: none; }

#nav-root .nav-title {
  order: -1; }

#nav-root button {
  order: 1;
  background: linear-gradient(to bottom, #cf0a2c 0, #cf0a2c 65%, white 100%);
  border: 1px solid #cf0a2c;
  font-size: 1.1rem;
  color: white;
  font-family: rock-bold;
  text-transform: uppercase;
  text-align: center;
  padding: .42em;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#nav-root button:hover {
  background: white;
  color: #cf0a2c;
  outline: #cf0a2c;
  box-shadow: 0 0 3px #d42029 !important; }

#loader {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  margin-top: 3rem; }

.loader {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 4em auto;
  border-radius: 50%;
  font-size: 2em;
  animation: loader 1s infinite ease;
  transform: translateZ(0); }

@keyframes loader {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0.4em black, 1.8em -1.8em 0 -0.65em rgba(0, 0, 0, 0.25), 2.5em 0em 0 -0.5em rgba(0, 0, 0, 0.357143), 1.75em 1.75em 0 -0.35em rgba(0, 0, 0, 0.464286), 0em 2.5em 0 -0.2em rgba(0, 0, 0, 0.571429), -1.8em 1.8em 0 -0.05em rgba(0, 0, 0, 0.678571), -2.6em 0em 0 0.1em rgba(0, 0, 0, 0.785714), -1.8em -1.8em 0 0.25em rgba(0, 0, 0, 0.892857); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0.25em rgba(0, 0, 0, 0.892857), 1.8em -1.8em 0 0.4em black, 2.5em 0em 0 -0.65em rgba(0, 0, 0, 0.25), 1.75em 1.75em 0 -0.5em rgba(0, 0, 0, 0.357143), 0em 2.5em 0 -0.35em rgba(0, 0, 0, 0.464286), -1.8em 1.8em 0 -0.2em rgba(0, 0, 0, 0.571429), -2.6em 0em 0 -0.05em rgba(0, 0, 0, 0.678571), -1.8em -1.8em 0 0.1em rgba(0, 0, 0, 0.785714); }
  25% {
    box-shadow: 0em -2.6em 0em 0.1em rgba(0, 0, 0, 0.785714), 1.8em -1.8em 0 0.25em rgba(0, 0, 0, 0.892857), 2.5em 0em 0 0.4em black, 1.75em 1.75em 0 -0.65em rgba(0, 0, 0, 0.25), 0em 2.5em 0 -0.5em rgba(0, 0, 0, 0.357143), -1.8em 1.8em 0 -0.35em rgba(0, 0, 0, 0.464286), -2.6em 0em 0 -0.2em rgba(0, 0, 0, 0.571429), -1.8em -1.8em 0 -0.05em rgba(0, 0, 0, 0.678571); }
  37.5% {
    box-shadow: 0em -2.6em 0em -0.05em rgba(0, 0, 0, 0.678571), 1.8em -1.8em 0 0.1em rgba(0, 0, 0, 0.785714), 2.5em 0em 0 0.25em rgba(0, 0, 0, 0.892857), 1.75em 1.75em 0 0.4em black, 0em 2.5em 0 -0.65em rgba(0, 0, 0, 0.25), -1.8em 1.8em 0 -0.5em rgba(0, 0, 0, 0.357143), -2.6em 0em 0 -0.35em rgba(0, 0, 0, 0.464286), -1.8em -1.8em 0 -0.2em rgba(0, 0, 0, 0.571429); }
  50% {
    box-shadow: 0em -2.6em 0em -0.2em rgba(0, 0, 0, 0.571429), 1.8em -1.8em 0 -0.05em rgba(0, 0, 0, 0.678571), 2.5em 0em 0 0.1em rgba(0, 0, 0, 0.785714), 1.75em 1.75em 0 0.25em rgba(0, 0, 0, 0.892857), 0em 2.5em 0 0.4em black, -1.8em 1.8em 0 -0.65em rgba(0, 0, 0, 0.25), -2.6em 0em 0 -0.5em rgba(0, 0, 0, 0.357143), -1.8em -1.8em 0 -0.35em rgba(0, 0, 0, 0.464286); }
  62.5% {
    box-shadow: 0em -2.6em 0em -0.35em rgba(0, 0, 0, 0.464286), 1.8em -1.8em 0 -0.2em rgba(0, 0, 0, 0.571429), 2.5em 0em 0 -0.05em rgba(0, 0, 0, 0.678571), 1.75em 1.75em 0 0.1em rgba(0, 0, 0, 0.785714), 0em 2.5em 0 0.25em rgba(0, 0, 0, 0.892857), -1.8em 1.8em 0 0.4em black, -2.6em 0em 0 -0.65em rgba(0, 0, 0, 0.25), -1.8em -1.8em 0 -0.5em rgba(0, 0, 0, 0.357143); }
  75% {
    box-shadow: 0em -2.6em 0em -0.5em rgba(0, 0, 0, 0.357143), 1.8em -1.8em 0 -0.35em rgba(0, 0, 0, 0.464286), 2.5em 0em 0 -0.2em rgba(0, 0, 0, 0.571429), 1.75em 1.75em 0 -0.05em rgba(0, 0, 0, 0.678571), 0em 2.5em 0 0.1em rgba(0, 0, 0, 0.785714), -1.8em 1.8em 0 0.25em rgba(0, 0, 0, 0.892857), -2.6em 0em 0 0.4em black, -1.8em -1.8em 0 -0.65em rgba(0, 0, 0, 0.25); }
  87.5% {
    box-shadow: 0em -2.6em 0em -0.65em rgba(0, 0, 0, 0.25), 1.8em -1.8em 0 -0.5em rgba(0, 0, 0, 0.357143), 2.5em 0em 0 -0.35em rgba(0, 0, 0, 0.464286), 1.75em 1.75em 0 -0.2em rgba(0, 0, 0, 0.571429), 0em 2.5em 0 -0.05em rgba(0, 0, 0, 0.678571), -1.8em 1.8em 0 0.1em rgba(0, 0, 0, 0.785714), -2.6em 0em 0 0.25em rgba(0, 0, 0, 0.892857), -1.8em -1.8em 0 0.4em black; } }

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; }

/* Background pattern from Subtle Patterns */
/* https://www.toptal.com/designers/subtlepatterns/ */
html {
  font-family: rock-bold;
  box-sizing: border-box;
  height: 100%;
  background: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-image: url("../images/circles-and-roundabouts.jpg"); }

body {
  margin: 0; }

.button-star {
  font-size: .8rem; }

.heading-1 {
  color: #770619;
  -webkit-text-fill-color: #770619;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 2px 2px 5px #cf0a2c;
  font-size: 3em;
  padding: 1rem;
  margin: 0; }

.heading-3 {
  padding-left: 5%; }

[hidden=true] {
  display: none; }

[name=wrapper] {
  margin-top: 4rem;
  padding: 1rem; }

[fullLayout] {
  height: auto; }

[dialogLayout] {
  height: 100%;
  overflow-y: hidden; }

[curtain] {
  background: rgba(0, 0, 0, 0.33);
  height: 100%;
  width: 100%;
  z-index: -1;
  margin-top: 0; }

::selection {
  background: #f2fc70;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #f2fc70;
  /* Gecko Browsers */ }
